<%= render :partial => "shared/pendientes"%>
	<h2 class="title">Asuntos para <%= current_user.name %> </h2>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">	
	<p>
      Bienvenido al sitio de control de asuntos, sus asuntos pendientes:
	<%= image_tag("indicator.white.gif",
	    :align => "absmiddle",
	    :border => 0,
	    :id => "spinner",
	    :style =>"display: none;" ) %>
    </p>
	
	<% form_for( :asunto, :html => { :id => "datosAsunto"}) do | form | %>
	<table class="index">

	  <tr>
		<td>	<%= text_field :asunto, :fecha  %>
			 </td>
		<td> 	
		 </td>
		<td> <%= text_field :asunto, :nombresolicitante %>
		 </td>
		<td> <%= text_field :asunto, :organizacion%>
		 </td>
		<td>  </td>	

    <% end%>
</table>
 <%= observe_form 'datosAsunto',  :frequency => 1,
    :update => 'table',
    :before => "$('#spinner').show()",
    :success => "$('#spinner').hide()",
    :url => {:action => 'index'}
   
 %>
 
  

			<div id="table">
			<%= render :partial => "items_list" %>
			</div>
</div>

