	<h2 class="title">Asuntos para <%= current_user.name %> </h2>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">	
	<p>
      Bienvenido al sitio de control de asuntos, sus asuntos pendientes:
	<%= image_tag("indicator.white.gif",
	    :align => "absmiddle",
	    :border => 0,
	    :id => "spinner",
	    :style =>"display: none;" ) %>
	        </p>
	<% form_for( :asunto,:html => { :id => "datosAsunto"}) do | form | %>
	<table class="clInlineForm">
	<tr>
		<td>
		<%= label_tag :asunto_fecha ,"Fecha"%>
	    <%= text_field :asunto, :fecha %>
	    </td>
		<td>
	    <%= label_tag :asunto_nombresolicitante,"Nombre"%>
		<%= text_field :asunto, :nombresolicitante  %>
		</td>
		<td>
		<%= label_tag :asunto_organizacion, "Organizacion"%>
		<%= text_field :asunto, :organizacion %>
		</td>			
	    <td> 
	    <%=  label_tag "Status"%>
        <%= select_tag "asunto[status_id]","<option value="">--- Todos ---</option>" +  options_from_collection_for_select(Status.all.collect, "id", "tipo") %>

	    </td>
	   	 <td> 
		    <%=  label_tag "Turnado a"%>
	        <%= select_tag "asunto[persona_turnado_id]","<option value="">--- Todos ---</option>" +  options_from_collection_for_select(User.all.collect, "id", "name") %>

		    </td>
				<td>
				<%= label_tag :asunto_fechasigcont ,"Fecha siguiente contacto	"%>
			    <%= text_field :asunto, :fechasigcont %>
			    </td>
	   </tr>
	   </table>
      
    <% end%>
 
 <%= observe_form 'datosAsunto',  :frequency => 1,
    :update => 'table',
    :before => "$('#spinner').show()",
    :success => "$('#spinner').hide()",
    :url => {:action => 'index'}%>
 
			<div id="table">
			<%= render :partial => "shared/items_list" %>
			</div>
</div>

