<% content_for :sidebar do -%>
 <%= render :partial => "sidebar"%>
<%end %>

<h2>Resultados</h2>
<%= link_to image_tag("icons/001_59.png", {:alt => "Atrás", :size => "24x24"}), root_path %>
<div style="clear: both;">&nbsp;</div>
<div class="entry">
	Resultados de la búsqueda
	<% if params[:reporte] == "1" %>
	<table class="index">

	  <tr>
		<th> Fecha </th>
		<th> Prioridad </th>
		<th> Categoria </th>
		<th> Nombre </th>
		<th> Organizacion </th>
	
	  </tr>

		<% @asuntos.each do |asunto| %>
	  	<tr>
			<td><%= asunto.fecha%></td>
			<td><%= asunto.prioridad.tipo%></td>
			<td><%= asunto.categoria.tipo%></td>
			<td><%= asunto.nombresolicitante%></td>
			<td><%= asunto.organizacion%></td>

	  	</tr>
		<% end %>
	</table>
	<%= will_paginate(@asuntos, :prev_label => "< Anterior", :next_label => "Siguiente >", :class => "flickr_pagination") %>
	<%elsif params[:reporte] == "2" %>
	<%= @fecha_final%>
	<table class="index">

	  <tr>
		<th> Fecha </th>
		<th> Prioridad </th>
		<th> Categoria </th>
		<th> Nombre </th>
		<th> Organizacion </th>
	
	  </tr>

		<% @asuntos.each do |asunto| %>
	  	<tr>
			<td><%= asunto.fecha%></td>
			<td><%= asunto.prioridad.tipo%></td>
			<td><%= asunto.categoria.tipo%></td>
			<td><%= asunto.nombresolicitante%></td>
			<td><%= asunto.organizacion%></td>

	  	</tr>
		<% end %>
	</table>
	<%= will_paginate(@asuntos, :prev_label => "< Anterior", :next_label => "Siguiente >", :class => "flickr_pagination") %>
		
	<%elsif params[:reporte] == "3" %>
	<%= @fecha_final%>
	<table class="index">

	  <tr>
		<th> Usuario que cambió</th>
		<th> Usuario anterior </th>
		<th> Usuario actual </th>
		<th> Status anterior </th>
		<th> Status actual </th>
		<th> Fecha de modificacion </th>
		<th> Dias del ult. cambio </th>
	
	  </tr>

		<% @movimientos.each do |movimiento| %>
	  	<tr>
			<td><%= movimiento.user.name%></td>
			<td><%= movimiento.usuarioanteriorname%></td>
			<td><%= movimiento.usuarioactualname%></td>
			<td><%= movimiento.statusanterior%></td>
			<td><%= movimiento.statusactual%></td>
			<td><%= movimiento.created_at.strftime("%d/%b/%Y %H:%M")%></td>
			<td><%= 2%></td>

	  	</tr>
		<% end %>
	</table>
	
	<%end%>

</div>
