<% content_for :sidebar do -%>
 <%= render :partial => "sidebar"%>
<%end %>

<h2>Resultados</h2>
<%= link_to image_tag("icons/001_59.png", {:alt => "Atrás", :size => "24x24"}), root_path %>
<div style="clear: both;">&nbsp;</div>
<div class="entry">
	Resultados de la búsqueda
	<% if params[:reporte] == "1" or  params[:reporte] == "4" %>
	  <%= render :partial => "shared/items_list_view_only" %>
	<%elsif params[:reporte] == "2" %>
	  <%= render :partial => "shared/items_list_view_only" %>		
	<%elsif params[:reporte] == "3" %>
	<%= @fecha_final%>
	<table class="index">

	  <tr>
		<th> Usuario que cambió</th>
		<th> Usuario anterior </th>
		<th> Usuario actual </th>
		<th> Status anterior </th>
		<th> Status actual </th>
		<th> Fecha de modificacion </th>
		<th> Dias del ult. cambio </th>
	
	  </tr>
        <% movimientoanterior = nil %>
		<% @movimientos.each do |movimiento| %>
	  	<tr>
			<td><%= movimiento.user.name%></td>
			<td><%= movimiento.usuarioanteriorname%></td>
			<td><%= movimiento.usuarioactualname%></td>
			<td><%= movimiento.statusanterior%></td>
			<td><%= movimiento.statusactual%></td>
			<td><%= movimiento.created_at.strftime("%d/%b/%Y %H:%M")%></td>
			<td> <%= movimientoanterior.nil? ? "0" : movimiento.created_at - movimientoanterior.created_at %></td>

	  	</tr>
		<% movimientoanterior = movimiento %>
		<% end %>
	</table>
	
	<%end%>

</div>
