<%= render :partial => "shared/pendientes"%>
	<h2 class="title">Detalle del historial</h2>
	<%= link_to image_tag("icons/001_59.png", {:alt => "Atrás", :size => "24x24"}), "/historial" %>
	
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">


<p>
	<% if !@audits.empty?%>
	<table class="index">
	<tr>
		<th>
			Fecha
		</th>
		<th>
			Usuario
		</th>
		<th>
			Descripción del movimiento
		</th>
		<th>
			
		</th>
		

	</tr>	
	<% @audits.each do |audit|%>
	  <tr>
		<td>
			<%= audit.created_at %>
		</td>
		<td>
			<%= audit.user.name %>
		</td>
		<td>
			<%= traduce_accion(audit.action) %>
		</td>
		<td>
			
          <%= audit.action == "update" ? link_to (image_tag("icons/001_38.png", {:alt => "Ver", :size => "16x16"}), "/historial/detail/"+audit.id.to_s): "" %> 
		</td>
	  </tr>
	<% end %>
	</table>	
	<%= will_paginate(@audits, :previous_label => "< Anterior", :next_label => "Siguiente >", :class => "flickr_pagination") %>
	
	<% else%>
	<b> No se encontraron movimientos. </b>
	<%end%>
</p>


<%= link_to 'Atrás', :controller => "historial" %>
</div>
