<% if !@asuntos.empty? %>
<table class="index">

  <tr>
	<th> Fecha</th>
	<th> Nombre </th>
	<th> Organizacion </th>
	<th> Status </th>
	<th> Turnado a </th>
	<th> Fecha siguiente contacto </th>
	<th>  </th>
	<!--<th> Asunto </th>
	<th> Prioridad </th>
	<th> Descripción del asunto</th>
	<th> Atendido por </th>
	<th> Telefono</th>
	<th> Observaciones </th>
	<th> Fecha ultimo contacto</th>
	<th> Audiencia publica </th>
	<th> CC. Gobernador electo </th>
-->
  </tr>

<% @asuntos.each do |asunto| %>
  <tr class="<%= cycle("even","odd")%>">
	<td><%= asunto.fecha%></td>
	<td><%= asunto.nombresolicitante%></td>
	<td><%= asunto.organizacion%></td>
	<td><%= asunto.status.tipo%></td>
	<td><%= asunto.persona_turnado.name%></td>
	<td><%= asunto.fechasigcont%></td>
	<!--
	<td><%= asunto.asunto%></td>
	<td><%= asunto.prioridad.tipo%></td>
	<td><%= asunto.descripcion%></td>
	<td><%= asunto.persona_atendio_id%></td>
	<td><%= asunto.telefono%></td>
	<td><%= asunto.observaciones%></td>
	<td><%= asunto.fechaultcont%></td>
	<td><%= asunto.audienciapub%></td>
	<td><%= asunto.gober%></td>
	-->
	
    <td class="actions">
<%= link_to image_tag("icons/001_38.png", {:alt => "Visualizar asunto", :size => "16x16"}), asunto %>
<%= link_to image_tag("icons/001_45.png", {:alt => "Editar asunto", :size => "16x16"}), edit_asunto_path(asunto) if current_user.has_role?(:admin)%>
<%= link_to image_tag("icons/printer.png", {:alt => "Imprimir asunto", :size => "16x16"}), asunto_path(asunto)+".pdf",:target => "_blank" %>
<%= link_to (image_tag("icons/001_05.png", {:alt => "Borrar asunto", :size => "16x16"}), asunto, :confirm => 'Está seguro?', :method => :delete) if current_user.has_role?(:admin) %>
</td>
  </tr>
<% end %>
</table>
<%= will_paginate ( @asuntos, { :params => { :asunto => params[:asunto] } ,:previous_label => "< Anterior", :next_label => "Siguiente >" }) %>
<% else %>
<b> No se encontraron asuntos pendientes </b>
<% end %>
