<% content_for :sidebar do -%>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th class="notcias2">Avisos</th>
    </tr>
	<tr>
      <td>
<p>
  Asuntos pendientes a vencer en la fecha del siguiente contacto
</p>

<% if !@asuntosparavencer.empty? %>
<ul>
	<% @asuntosparavencer.each do |asunto| %>
	  
	    <li>
		<%=asunto.fechasigcont	%> 
		|
	    
        <%=asunto.prioridad.tipo %>		
		|
		
        <%= link_to "ver" ,asunto %>		
		</li>
	  	
	<% end %>
	
	</ul>
	
	<% else%>
	<ul>
		<li>
	<b>	No se encontraron asuntos próximos a vencer</b>
		</li>
	</ul>
	<% end%>
		
	<p>
	  Asuntos vencidos a la fecha de hoy
	</p>
	<% if !@asuntosvencidos.empty? %>
	<ul>
		<% @asuntosvencidos.each do |asunto| %>
		  
		    <li>
			<%=asunto.fechasigcont	%>
			|
	        <%=asunto.prioridad.tipo %>		
			|
	        <%= link_to "ver" ,asunto %>		
			</li>
		<% end %>

		</ul>

		<% else%>
		<ul>
			<li>
		<b>	No se encontraron asuntos vencidos</b>
			</li>
		</ul>
		<% end%>
		</td>
	    </tr>
</table>


<% end -%>