
<table class="tblShowForm">
<%=cell_with_clase "Fecha", @asunto.fecha,"" %>
<%=cell_with_clase "Asunto", @asunto.prioridaddesc,"" %>
<%=cell_with_clase "Categoria", @asunto.categoriadesc,"" %>
<%=cell_with_clase "Nombre del solicitante", @asunto.nombresolicitante, "" %>
<%=cell_with_clase "Organizacion", @asunto.organizacion, "" %>
<%=cell_with_clase "Asunto", @asunto.asunto %>
<%=cell_with_clase "Descripcion", @asunto.descripcion %>
<%=cell_with_clase "Atendido por", @asunto.personaatendio %>
<%=cell_with_clase "Turnado a", @asunto.personaturnado %>
<%=cell_with_clase "Telefono", @asunto.telefono %>
<%=cell_with_clase "Observaciones", @asunto.observaciones %>
<%=cell_with_clase "Fecha del ultimo contacto", @asunto.fechaultcont %>
<%=cell_with_clase "Fecha del siguiente contacto", @asunto.fechasigcont %>
<%= cell_with_clase "Status",  @asunto.status.tipo %>
<%= cell_with_clase "Audiencia publica", (@asunto.audienciapub ? "SI": "NO") %>
<%= cell_with_clase "CC Gobernador electo", (@asunto.gober ? "SI": "NO") %>

<table class="indexcomment">
	<caption>Comentarios</caption> 
<tbody>	
<% @asunto.comentarios.each do |comentario| %>
<tr class="odd">	
	<td><b> <%= comentario.user.name %> en <%= comentario.created_at.to_s(:short) %> dijo: </b></td>
</tr>
<tr>
	<td>
	<%= comentario.comentario %></td>
	</td>
</tr>
<% end %>
</tbody>
 </table>

</table>


