
<table class="overview">
<%=cell "Fecha", @asunto.fecha %>
<%=cell "Nombre del solicitante", @asunto.nombresolicitante%>
<%=cell "Organizacion", @asunto.organizacion %>
<%=cell "Asunto", @asunto.asunto %>
<%=cell "Descripcion", @asunto.descripcion %>
<%=cell "Telefono", @asunto.telefono %>
<%=cell "Observaciones", @asunto.observaciones %>
<%=cell "Atendido por", @asunto.personaatendio %>
<%=cell "Turnado a", @asunto.personaturnado %>
<%=cell "Prioridad", @asunto.prioridaddesc %>
<%=cell "Categoria", @asunto.categoriadesc%>
<%=cell "Fecha del ultimo contacto", @asunto.fechaultcont %>
<%=cell "Fecha del siguiente contacto", @asunto.fechasigcont %>
<%= cell "Status",  @asunto.status.tipo %>
<%= cell "Audiencia publica", (@asunto.audienciapub ? "SI": "NO") %>
<%= cell "CC Gobernador", (@asunto.gober ? "SI": "NO") %>

<table class="indexcomment">
	<caption>Comentarios</caption> 
<tbody>	
<% @asunto.comentarios.each do |comentario| %>
<tr class="odd">	
	<td><b> <%= comentario.user.name %> en <%= comentario.created_at.to_s(:short) %> dijo: </b></td>
</tr>
<tr>
	<td>
	<%= comentario.comentario %></td>
	</td>
</tr>
<% end %>
</tbody>
 </table>

</table>


