<%= render :partial => "shared/pendientes"%>
<h2 class="title">Detalle del asunto </h2>
<%= link_to image_tag("icons/001_59.png", {:alt => "Atrás", :size => "24x24"}), root_path %>
<%= link_to image_tag("icons/001_45.png", {:alt => "Editar", :size => "24x24"}), edit_asunto_path(@asunto) %> 
<div class="entry">
<%= render :partial => "asuntoformshow" %>

<% form_for ([@asunto, @asunto.comentarios.build]) do |f| %>

<p>
    <%= f.label :comentario ,'Comentario' %><br />
    <%= f.text_area :comentario, :size => "40x10"  %>
  <div class="actions">
    <%= f.submit 'Agregar comentario'%>
  </div>
</p>


<%end %>


</div>