<h1>Editar persona</h1>

<% form_for(@persona) do |f| %>
  <%= f.error_messages %>

 <p>
	<%= f.label :nombre %>
	<%= f.text_field :nombre %>

	</p>
	 <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>

<%= link_to 'Ver', @persona %> |
<%= link_to 'Atrás', personas_path %>