<h2 class="title">Nuevo status </h2>
<div style="clear: both;">&nbsp;</div>
<div class="entry">
<% form_for(@status) do |f| %>
  <%= f.error_messages %>

<p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>

  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Atrás', statuses_path %>
</div>