<h2 class="title">Nuevo status </h2>
<%= link_to image_tag("icons/001_59.png", {:alt => "Atrás", :size => "24x24"}), admin_statuses_path %>

<div style="clear: both;">&nbsp;</div>
<div class="entry">
<% form_for(@status) do |f| %>
  <%= f.error_messages %>

<p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>

  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

</div>