<h2 class="title">Listado de usuarios </h2>
<%= link_to image_tag("icons/001_01.png", {:alt => "Nuevo usuario", :size => "24x24"}), new_admin_user_path %>

<div style="clear: both;">&nbsp;</div>
<div class="entry">


	<table class="index">
	  <tr>
		<th>Login</th>
		<th>Nombre</th>
		<th>Email</th>
	  </tr>

	<% for user in @users %>
	  <tr>
		<td><%=h user.login %></td>
		<td><%=h user.name %></td>
		<td><%=h user.email %></td>
	    <td class="actions">
			<%= link_to image_tag("icons/001_38.png", {:alt => "Visualizar", :size => "16x16"}), admin_user_url(user) %>
			<%= link_to image_tag("icons/001_45.png", {:alt => "Editar", :size => "16x16"}), edit_admin_user_path(user) %>
		</td>
	  </tr>
	<% end %>
	</table>

	<%= will_paginate @users %>

	<p>
	</p>
</div>