<h2 class="title">Listado de usuarios </h2>
<%= link_to image_tag("icons/001_59.png", {:alt => "Atrás", :size => "24x24"}), admin_users_path %>

<div style="clear: both;">&nbsp;</div>
<div class="entry">

<table class="overview">
	<%= cell "Nombre", "#{in_place_editor_field :user, 'name'}" %>

	<%= cell "Login", "#{in_place_editor_field :user, 'login'}" %>
	<%= cell "User ID", h(@user.id) %>

	<%= cell_separator %>
	
	<%= cell "Email", "#{in_place_editor_field :user, 'email'}" %>
	<%= cell "Password", "#{"*"*8}" %>
	
	<%= cell_separator %>
	
	<%= cell "Cuenta creada:", @user.created_at.to_s(:long) %>
	<%= cell "Ultima actualización", @user.updated_at.to_s(:long) %>
</table>

</div>

