<h2 class="title">Editando categoría </h2>
<%= link_to image_tag("icons/001_59.png", {:alt => "Atrás", :size => "24x24"}), admin_categorias_path %>

<div style="clear: both;">&nbsp;</div>
<div class="entry">
<% form_for [:admin, @categoria] do |f| %>
  <%= f.error_messages %>

<p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>
</div>