<h2 class="title">Nueva categoría </h2>
<div style="clear: both;">&nbsp;</div>
<div class="entry">
<% form_for(@categoria) do |f| %>
  <%= f.error_messages %>

 <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
 
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Atrás', categorias_path %>
</div>