<ul>
<!--	<li style="float: right;"><a href="#">Tab 1</a></li>
	<li style="float: right;"><a href="#">Tab 2</a></li>
-->
	<li class="<%= menu_actual([{:controller => "prioridads" }])%>"><%= tab_to "Prioridades", [{:controller => "prioridads" }] %></li>
	<li class="<%= menu_actual([{:controller => "categorias" }])%>"><%= tab_to "Categorias", [{:controller => "categorias"}] %></li>
	<li class="<%= menu_actual([{:controller => "statuses" }])%>"><%= tab_to "Statuses",[{:controller => "statuses" }]  %></li>
	<li class="<%= menu_actual([{:controller => "users" }])%>"><%= tab_to "Usuarios",[{:controller => "users" }] %></li>
	<li class="<%= menu_actual([{:controller => "roles" }])%>"><%= tab_to "Roles",[{:controller => "roles" }] %></li>
</ul>
